In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from config import db_password

In [2]:
# Connect to database
try:
    db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/final_project"
    engine = create_engine(db_string)
    print("Connection made WOOTWOOT!")
except:
    print('Could not connect to database')

Connection made WOOTWOOT!

In [3]:
# Read a table from database into pandas dataframe
visuals_df = pd.read_sql_table('visuals_data',engine)
visuals_df.head()

,index,date,county,state,fips,cases,deaths,stay_at_home_announced,stay_at_home_effective,lat,lon,total_population
0,0,2020-01-21,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,758649
1,1,2020-01-22,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,758649
2,2,2020-01-23,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,758649
3,3,2020-01-24,Cook,Illinois,17031,1,0,no,no,41.840039,-87.816716,5227575
4,4,2020-01-24,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,758649

In [ ]:
date_df = visuals_df[['date','cases','deaths']].groupby('date').sum()
date_df

In [ ]:
sns.set(style="whitegrid")

# Initialize the matplotlib figure
f, ax = plt.subplots(figsize=(15, 6))

# Plot the total cases
sns.set_color_codes("pastel")
ax = sns.barplot(x=date_df.index, y=date_df.cases, label="Cases", color="b")

# Plot the deaths
sns.set_color_codes("muted")
ax = sns.barplot(x=date_df.index, y=date_df.deaths, label="Deaths", color="b")

# Add a legend and informative axis label
ax.legend(ncol=2, loc="upper left", frameon=True)
ax.set(ylabel="Number of cases/deaths", xlabel="Date")
# ax.set_xticklabels(ax.get_xticklabels(), rotation=90)
plt.xticks(fontsize=8, rotation=90)
plt.show()